@import 'tailwindcss';
@plugin '@tailwindcss/typography';
@plugin 'fluid-tailwindcss';

@plugin 'daisyui' {
	themes:
		light --default,
		dracula --prefersdark;
}

@utility aspect-cover {
	aspect-ratio: 37/53;
}
